@media (min-width: 992px) {
  #mainNav .navbar-brand {
    font-size: 2em;
    transition: all .3s;
  }
}

@media (min-width: 992px) {
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

